<!--<form (ngSubmit)="onSubmit()" [formGroup]="searchForm">-->
<!--    <label for="coordinates">Coordinates (latitude,longitude):</label>-->
<!--    <input type="text" id="coordinates" formControlName="coordinates">-->

<!--    <label for="windSpeed">Wind Speed:</label>-->
<!--    <input type="text" id="windSpeed" formControlName="windSpeed">-->

<!--    <label for="waveHeight">Wave Height:</label>-->
<!--    <input type="text" id="waveHeight" formControlName="waveHeight">-->

<!--    <label for="startTime">Start Time:</label>-->
<!--    <input type="text" id="startTime" formControlName="startTime">-->

<!--    <label for="endTime">End Time:</label>-->
<!--    <input type="text" id="endTime" formControlName="endTime">-->

<!--    <button type="submit">Search</button>-->
<!--</form>-->
